<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
    <!-- STYLING -->
    <style type="text/css">
        body {
            background-color: rgb(87, 92, 99);
            color: rgb(211, 172, 125);
        }
    </style>
</head>
<body>

    <h1>Welcome to Gitpub</h1>
    
    <% drinks.forEach(drink => { %>
        
        <ul>
            <li>
    
                <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %>
            </li>
        </ul>
    <% }) %>
    
</body>
</html>